#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;
}
.worksDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}
.worksImgs{
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    width: 100vw;
     max-width: 65rem;
}
.worksImg{
    object-fit: cover;
    height: 12rem;
    width: 17rem;
    margin: 0.5rem;
}

.workComp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border-radius: 1rem solid green;
}

.btn{
background: white;
color: #000;
}
.worksBtn{
    margin: 1rem 0;
padding: 0.5rem 2.5rem;
border: none;
background: white;
border-radius: 2rem;
color: #000;
font-size: 1rem;
}
@media screen and(max-width:585)  {
    .worksImg{
        height: 48vw;
    }
}
@media screen and (max-width:720px) {
    .worksImg{
        object-fit: cover;
        height: 6rem;
        width: 8rem;
        margin: 0.5rem;
    }
    .workComp h2{
        font-size: 0.8rem;
        font-weight: 800;
    }
    .worksBtn {
    margin: 1rem 0;
    padding: 0.4rem 1.5rem;
    border: none;
    background: white;
    border-radius: 1rem;
    color: #000;
    font-size: 0.6rem;
    }
    .btn{
        margin: 1rem 0;
        padding: 0.4rem 1rem;
        border: none;
        background: white;
        border-radius: 1rem;
        color: #000;
        font-size: 0.6rem;
    }
}